@page "/"
@inject HighlightService highlightSrv

<h4> Welcome to Highlight.Blazor</h4>

<p>C# Without Highlight</p>
<pre>
<code>
                private int currentCount = 0;

                private void IncrementCount()
                {
                    currentCount++;
                }
    </code>
</pre>

<div>
    <input type="text" @bind-value="styleUrl" style="width:700px" />
</div>

<button class="btn btn-primary" @onclick="ApplyStyle">Apply Style</button>



<p>C# with indent</p>

<CodeHighlight>
    private int currentCount = 0;

    private void IncrementCount()
    {
        currentCount++;
    }
</CodeHighlight>


<p>C# without indent</p>

<CodeHighlight Indent="false">
    private int currentCount = 0;

    private void IncrementCount()
    {
        currentCount++;
    }
</CodeHighlight>


<p>Json with indent</p>

<CodeHighlight Indent="true" CodeLanguage="json">
                {
	                "success": true,
	                "data": [
		                {
			                "billCode": "BSTPU019524859",
			                "type": 1
		                }
	                ]
                }
</CodeHighlight>

<p> highlight with program</p>

<CodeHighlight>
    @SourceCode
</CodeHighlight>

@code {
    string SourceCode = @"
    public class Aa
    {

    }
";

    private string styleUrl = "https://cdnjs.cloudflare.com/ajax/libs/highlight.js/11.3.1/styles/a11y-dark.min.css";

    private void ApplyStyle()
    {
        highlightSrv.SetStyleAsync(styleUrl);
    }




}
