@page "/"
@inject HighlightService highlightSrv

<h2> Welcome to Highlight.Blazor</h2>

<h3>C# Without Highlight</h3>
<pre style="border:2px solid #0000ff;">
<code>
                private int currentCount = 0;

                private void IncrementCount()
                {
                    currentCount++;
                }
    </code>
</pre>

<h3>Set style</h3>
<div>
    <input type="text" @bind-value="styleUrl" style="width:700px" />
</div>

<button class="btn btn-primary" @onclick="ApplyStyle">Apply Style</button>



<h3>C# with indent</h3>

<CodeHighlight>
    private int currentCount = 0;

    private void IncrementCount()
    {
        currentCount++;
    }
</CodeHighlight>


<h3>C# without indent</h3>

<CodeHighlight Indent="false">
    private int currentCount = 0;

    private void IncrementCount()
    {
        currentCount++;
    }

</CodeHighlight>


<h3>Json with indent</h3>

<CodeHighlight Indent="true" CodeLanguage="json">
                {
	                "success": true,
	                "data": [
		                {
			                "billCode": "BSTPU019524859",
			                "type": 1
		                }
	                ]
                }
</CodeHighlight>

<h3> highlight with program</h3>

<CodeHighlight Indent=false>@SourceCode</CodeHighlight>

<CodeHighlight>@SourceCode2</CodeHighlight>

@code {
    string SourceCode = @"
    public class Aa
    {

    }
";

    string SourceCode2 = "public override void init()\n{\n   Backend.Init();\n}";

    private string styleUrl = "https://cdnjs.cloudflare.com/ajax/libs/highlight.js/11.3.1/styles/a11y-dark.min.css";

    private void ApplyStyle()
    {
        highlightSrv.SetStyleAsync(styleUrl);
    }




}
